.wrapper {
    display: flex;
    list-style: none;
    word-wrap: break-word;
    margin-top: 10rem;
    align-self: end;
    
    .scrollText {
      
      opacity: 1;
      overflow: hidden;
      font-size: 14rem;
      text-transform: uppercase;
      align-self: end;
      max-width: 87vw;
      &:nth-of-type(1){
        font-weight: 900;
      }
      &:nth-of-type(2) {
        position: absolute;
        color: white;
        z-index: 100;
      }

      @media (max-width: 37.5em) {
        font-size: 10rem;
      }  

    } 
  }
  